.button {
  background: linear-gradient(to right, #addba3, #64caaa);
  padding: 0;
  width: fit-content;
  color: black;
  font-weight: 200;
  font-size: 2rem;
  border-radius: 50px;
  box-shadow: 1px 1px 10px black;
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}
.background {
  padding: 2px;
  border-radius: inherit;
}
.foreground {
  border: 2px solid white;
  border-radius: inherit;
  padding: 10px 40px;
}
.button:active {
  /* box-shadow: inset 1px 1px 10px black; */
  transform: translate(0, 1px);
}
