@font-face {
  font-family: "Jersey25-Regular";
  src: url("../../assets/fonts/Tiny5-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.page {
  --border-radius: 12px;
  position: absolute;
  /* outline: 1px solid red; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  /* pointer-events: none; */
  background-color: rgb(0, 0, 0, 0.5);
  animation: fadeIn 0.3s ease;
}
.popup {
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(30, 30, 20, 0.2);
  border-radius: var(--border-radius);
  background-color: #ffffff;
  animation: scaleIn 0.3s ease;
}
.exit {
  animation: scaleOut 0.3s ease;
}
.fade {
  animation: fadeOut 0.3s ease;
}
.background {
  border-radius: 8px;
  background-color: #ffffff;
  padding: 3px;
  box-sizing: border-box;
}
.foreground {
  border-radius: 8px;
  background-color: #ffffff;
  /* border: 3px solid #408494; */
  /* width: 400px;
  height: 500px; */
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.text {
  cursor: default;
}
.titleText {
  color: #1d5764;
  /* color: black; */
  opacity: 0.8;
  font-family: "Jersey25-Regular";
  /* font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
  font-weight: 600;
  font-size: 4rem;
}
.statusText {
  color: black;
  opacity: 0.4;
  font-weight: 600;
}
@keyframes scaleIn {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scaleOut {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
