.gameboard {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: calc(200px * 4);
  min-height: calc(270px * 2);
}

.deck {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.loading {
  animation: loading 3s linear infinite;
  background-image: linear-gradient(
    to right,
    rgba(140, 140, 140, 0.05) 0%,
    rgba(140, 140, 140, 0.1) 15%,
    rgba(140, 140, 140, 0.05) 30%
  );
  background-size: 1200px 100%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading .loadingText {
  font-size: 1.5rem;
  animation: stretchX 1s infinite alternate;
}

@keyframes slideUp {
  from {
    transform: translateY(-100vh);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes stretchX {
  0% {
    transform: scaleX(1.05);
  }
  100% {
    transform: scaleX(0.95);
  }
}

@keyframes loading {
  0% {
    background-position: -1200px 0;
  }
  100% {
    background-position: 1200px 0;
  }
}
