.gameboard {
  display: flex;
  justify-content: center;
  align-items: center;
}

.deck {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.loading {
  /* background-color: blue; */
  font-size: 1.5rem;
  animation: shimmer 1s infinite alternate;
}

@keyframes slideUp {
  from {
    transform: translateY(-100vh);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes shimmer {
  0% {
    transform: scaleX(1.1);
  }
  100% {
    transform: scaleX(0.9);
  }
}
